body {
    color: #03045E;
    font-family: 'Montserrat', sans-serif;
}

/*----Header----*/

#navbar {
    background-color: #ff9f1c;
    font-weight: bold; 
    font-size: larger;      
}

.nav-link {
    color: #03045E;
}

.nav-link:hover {
    color: #fff;
}

.nav-link:active {
    color: #fff;
}

.btn-primary {
    background-color: #03045E;
    color: #ffbf69;
}

.highlighted {
color: #e5edf5;
}



/*----Hero Image----*/

.building-name {
    margin-top: 20%;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}
.hero-image {
    min-height: 20%;
}

.bs-hero-text-position {
    position: absolute;
    top: 15%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: #03045E;
}

.bs-hero-text-formatting {
    background-color: rgba(255, 255, 255, 0.8);
    max-width: max-content;
    font-weight: 400;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}

/*----Headline----*/

.headline {
    background-color: #00B4D8;
}

/*----Featurettes----*/

#featurette1 {
    background-color: #ffbf69;
}

#featurette2 {
    background-color: #00B4D8;
}

#featurette3 {
    background-color: #ffbf69;
}

.photoedge{
    --bs-border-color:#03045E;
}

/*----Footer----*/

.end-footer {
    background-color: #03045E;
    color:#FF9F1C;
}
.socialicons {
    color: #FF9F1C;
}

/*----CML Modal----*/
#RMCModal {
    font-size: large;
    color: #03045E;
}

/*----PEL Modal----*/
#PELModal {
    font-size: large;
    color: #03045E;  
}


/*---Building---*/

.pageheading1, .pageheading2, .pageheading3 {
    background-color: #ffbf69;
}

.card-body {
    background-color: #e5edf5;
}
